In [ ]:
# printing 1-10 number using for loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#suming all numbers in list using for loop
list_1=[1,2,3,4,5,56,"dfgh56.45,","xdcfvgbhn",456]
count=0
for i in list_1:
  if i==str(i):
    print("because its a string so cant take it")

  else:
    count+=i
print("the sum of numbers in list is:",count)

because its a string so cant take it
because its a string so cant take it
the sum of numbers in list is: 527

In [ ]:
# printing reversed characters in string using for loop
str_1=input()
rev_str=reversed(str_1)
for i in rev_str:
  print(i)

sdfgbhn
n
h
b
g
f
d
s

In [ ]:
# printing factorial of a given number using for loop
number=int(input("enter a number:"))
fact=1
for i in range(1,number+1):
  if number ==0 or number==1:
    print("fcatorial of ",i," is 1")
  else:
    fact*=i
print("factorial of ",number," is ",fact)

enter a number:5
factorial of  5  is  120

In [ ]:
# PRINTING MULTIPLICATION TABLE FOR GIVEN NUMBER USING FOR LOOP
num=int(input("enter a number:"))
for i in range(1,11):
  print("{0} x {1} = {2}".format(num,i,num*i))

enter a number:6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60